/* Para Chrome, Safari, Edge y Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Para Firefox y compatibilidad general */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE y Edge viejo */
  scrollbar-width: none;     /* Firefox y Chrome nuevo */
}

html {
  scroll-behavior: smooth;
}