@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Ethnocentric';
  src: url('/fonts/Ethnocentric-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-ethnocentric: 'Ethnocentric', sans-serif;
}

.font-ethnocentric {
  font-family: 'Ethnocentric', sans-serif;
}
