@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-clash: 'Clash Display', sans-serif;
  --font-syne: 'Syne', sans-serif;
  --font-geist: 'Geist', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: 'Geist', sans-serif;
}

.font-clash {
  font-family: 'Clash Display', sans-serif;
}

.font-syne {
  font-family: 'Syne', sans-serif;
}

.font-geist {
  font-family: 'Geist', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
